@use "../../styles/mixins" as *;

$language-switcher-width: 30px;

// ------------------------------
// Global Styles
// ------------------------------
body {
  background: linear-gradient(
    -45deg,
    var(--color-bg-primary),
    var(--color-bg-secondary)
  );
  color: var(--color-text-secondary);
  font-family: var(--font-roboto);
  margin: 0;
  padding: var(--space-md);

  p,
  li {
    font-family: var(--font-roboto);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-oswald);
  }

  @media print {
    padding: 0;
  }
}

// ------------------------------
// Layout Styles
// ------------------------------
.container {
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
}

.languageSwitcherContainer {
  margin-right: -$language-switcher-width;
  position: relative;
  right: calc($language-switcher-width / 2);

  @include respond-to(xl) {
    margin-right: 0;
    position: relative;
    right: 0;
  }
}

.languageSwitcher {
  position: sticky;
  top: 0;
  width: $language-switcher-width;
  z-index: 100;

  @media print {
    display: none;
  }
}

.content {
  background-color: var(--color-bg-surface);
  gap: var(--space-xl);
  padding: var(--space-lg);
  transform: translateY(30px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
  z-index: 1;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  @include respond-to(md) {
    padding: var(--space-xl);
  }
}

@media print {
  .container {
    max-width: 100%;
    padding: 0;
  }
}
