.container {
  display: flex;
  justify-content: space-around;

  & strong {
    color: var(--color-text-mark);
    font-weight: normal;
  }
}

.flag {
  margin-right: var(--space-xs);
  width: 24px;
}
