@use "../../styles/mixins" as *;

.button {
  background: none;
  border: 3px solid inherit;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: 0.3s ease;
  white-space: nowrap;
  width: 100%;

  @include respond-to(md) {
    font-size: 16px;
    padding: 10px 20px;
  }

  &:hover {
    background: var(--background-chip-primary);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.loading {
    &::after {
      animation: rotation 1s linear infinite;
      border: 2px solid #fff;
      border-bottom-color: transparent;
      border-radius: 50%;
      box-sizing: border-box;
      content: "";
      display: block;
      display: inline-block;
      height: 15px;
      margin-top: -7px;
      position: absolute;
      right: 20px;
      top: 50%;
      width: 15px;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  // Theme specific styles
  &.default {
    border-radius: 4px;
    font-size: 0.9em;
    padding: 10px 40px;
  }

  &.river {
    border-radius: 0;
  }
}
