@use "../../styles/mixins" as *;

.button {
  padding: calc(var(--base) * 2) calc(var(--base) * 4);
  font-size: 0.875rem;
  font-weight: bold;
  color: white;
  background: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;

  @include respond-to(md) {
    padding: 10px 20px;
    font-size: 16px;
  }

  &:hover {
    background: #0056b3;
  }

  &:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
}
