@use "../../styles/mixins" as *;

.button {
  text-decoration: none;
  border-radius: 4px;
  border: 3px solid lightgray;
  padding: 10px 40px;
  color: lightgray;
  display: inline-block;
  transition: 0.3s ease;
  font-size: 0.9em;
  white-space: nowrap;
  background: none;
  width: 100%;
  cursor: pointer;

  @include respond-to(md) {
    padding: 10px 20px;
    font-size: 16px;
  }

  &:hover {
    background: var(--background-chip-primary);
  }

  &:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
}
