// Typography
// ==============================
@mixin wrap-font-size($size, $lineHeight) {
  &-lighter {
    font-weight: 100;
    font-size: $size;
    line-height: $lineHeight;
  }
  &-normal {
    font-weight: 400;
    font-size: $size;
    line-height: $lineHeight;
  }
  &-bold {
    font-weight: 700;
    font-size: $size;
    line-height: $lineHeight;
  }
}

// Headers
@for $i from 1 through 6 {
  .header-h#{$i} {
    letter-spacing: 0.005em;

    &-primary {
      color: var(--header-primary);

      &-lighter {
        font-weight: 100;
      }
      &-normal {
        font-weight: 500;
      }
      &-bold {
        font-weight: 700;
      }
    }

    &-secondary {
      color: var(--header-secondary);
      &-lighter {
        font-weight: 100;
      }
      &-normal {
        font-weight: 500;
      }
      &-bold {
        font-weight: 700;
      }
    }
  }
}

// Paragraphs
.paragraph {
  &-primary,
  &-secondary {
    &-xs {
      @include wrap-font-size(12px, 16px);
    }
    &-s {
      @include wrap-font-size(14px, 18px);
    }
    &-m {
      @include wrap-font-size(16px, 24px);
    }
    &-l {
      @include wrap-font-size(18px, 28px);
    }
  }
}
