@use "../../styles/mixins" as *;

.text {
  font-size: 0.9rem;
  margin: 0 0 var(--space-sm) 0;

  .chips {
    display: flex;
    gap: var(--space-xs);
  }

  @include respond-to(md) {
    font-size: 1rem;
    margin: 0 0 var(--space-md) 0;
  }

  > span {
    margin-left: var(--base);
  }
}
