.timeline {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);

  & > :not(:last-child) {
    border-bottom: 1px solid var(--color-text-primary);
    padding-bottom: var(--space-lg);
  }
}

.subtitle {
  margin-top: var(--space-md);
}

.list {
  margin: 0 0 0 var(--space-md);

  @media print {
    margin: 0;
  }
}

.hiddenItems {
  border-top: 1px solid var(--color-text-primary);
  display: block;
  grid-template-rows: 0fr;
  padding-top: var(--space-lg);
  transition: grid-template-rows 0.5s ease-out;

  &.expanded {
    display: block;
    grid-template-rows: 1fr;
  }
}

.hiddenItemsInner {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  overflow: hidden;

  & > :not(:last-child) {
    border-bottom: 1px solid var(--color-text-primary);
    padding-bottom: var(--space-lg);
  }
}

.showMoreButton {
  @media print {
    display: none;
  }
}
