/* ===========================
Base
=========================== */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(
    -45deg,
    var(--color-bg-primary),
    var(--color-bg-secondary)
  );
  color: var(--color-text-secondary);
  font-family: var(--font-sans);
  margin: 0;
  min-height: 100vh;
  padding: var(--space-md);

  @media print {
    padding: 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
