/* ===========================
Base
=========================== */
html,
body {
  max-width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input[type="button"],
input[type="submit"] {
  appearance: none;
  border-radius: 0;
}
