/* ===========================
Base
=========================== */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  color: var(--color-text-secondary);
  min-height: 100vh;
  background: linear-gradient(
    -45deg,
    var(--color-bg-primary),
    var(--color-bg-secondary)
  );
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
