/* ===========================
Typography
=========================== */
@use "sass:list";
@use "./variables.scss" as *;
@use "./mixins" as *;

html {
  font-family: var(--font-roboto);
  font-size: calc(var(--base) * 4);

  @include respond-to(md) {
    font-size: calc(var(--base) * 4.5);
  }
}

input,
select,
textarea {
  font-family: var(--font-roboto);
}

/* All heading */
@for $i from 1 through list.length($header-sizes) {
  h#{$i} {
    $base-size: list.nth($header-sizes, $i);

    font-size: calc($base-size * 0.85);

    @include respond-to(md) {
      font-size: $base-size;
    }
  }
}

p {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 1.5rem;
  margin-top: 0;

  @include respond-to(md) {
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.6rem;
  }
}

strong {
  font-weight: bold;
}
