@use "../../styles/mixins" as *;

.container {
  align-items: center;
  display: flex;
  gap: var(--space-xs);
  justify-content: flex-start;
  position: relative;
  text-align: left;
  width: 100%;

  .title {
    overflow: hidden;
    position: relative;
    width: 100%;

    &::after {
      background-color: var(--color-text-primary);
      content: "";
      height: 1px;
      margin-left: var(--space-sm);
      opacity: 0.7;
      position: absolute;
      top: 55%;
      width: 100%;

      @include respond-to(md) {
        margin-left: 10px;
      }
    }
  }
}
