.container {
  position: relative;

  .title {
    position: relative;
    overflow: hidden;
    width: 100%;

    &::after {
      position: absolute;
      top: 55%;
      margin-left: 10px;
      width: 100%;
      height: 1px;
      content: "";
      background-color: var(--color-text-primary);
      opacity: 0.7;
    }
  }
}
