@use "../../styles/mixins" as *;

.container {
  display: grid;
  gap: var(--space-md);
  grid-template:
    "sidebar" auto "main" 1fr / 1fr;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  @include respond-to(md) {
    gap: 0;
    grid-template: "sidebar main" 1fr / 300px 1fr;
    margin: 0 auto;
  }

  & .main {
    box-sizing: border-box;
    grid-area: main;
  }

  & .sidebar {
    box-sizing: border-box;
    grid-area: sidebar;
  }
}

.preloader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  @media print {
    display: none;
  }
}
