@use "../../../../styles/mixins" as *;

.section {
  display: grid;
  gap: var(--space-sm);
  grid-template-areas:
    "name"
    "divider"
    "position"
    "contact";
  padding-top: var(--space-lg);

  @include respond-to(md) {
    gap: var(--space-lg);
  }

  & .name {
    font-size: 2.4rem;
    grid-area: name;
    line-height: 2.8rem;
    text-align: center;

    & strong {
      color: var(--color-text-mark);
      font-weight: inherit;
    }

    @include respond-to(md) {
      font-size: 3.2rem;
    }
  }

  & .divider {
    grid-area: divider;
    margin: 0 0 var(--space-xs) 0;

    @include respond-to(md) {
      margin: var(--space-md) 0;
    }
  }

  & .position {
    color: var(--color-text-secondary);
    grid-area: position;
    text-align: center;
    text-transform: uppercase;
  }

  & .contacts {
    display: none;
    grid-area: contact;

    @include respond-to(md) {
      display: block;
    }
  }
}
