@use "../../../../styles/mixins" as *;

.name {
  margin: var(--space-xl) 0;
  text-align: center;

  & strong {
    color: var(--color-text-mark);
    font-weight: inherit;
  }
}

.position {
  color: var(--color-text-secondary);
  padding: var(--space-xl) 0;
  text-align: center;
  text-transform: uppercase;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: var(--space-sm);

  & p {
    @include decorative-heading(30px);

    flex: 1;
    overflow-wrap: normal;
    position: relative;
    text-align: center;
    white-space: nowrap;
  }
}

.socials {
  display: flex;
  flex-direction: row;
  gap: var(--space-xl);
  justify-content: center;
  margin-bottom: calc(var(--space-lg) * 2);

  & .link {
    align-items: center;
    display: flex;
    gap: var(--space-xs);
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: var(--color-primary);
    }
  }
}
