.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);

  .title {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
}
