@use "../../styles/mixins" as *;

.container {
  align-items: center;
  display: flex;
  gap: var(--space-xs);
  justify-content: flex-start;
  position: relative;
  text-align-last: left;

  @include respond-to(md) {
    gap: var(--space-sm);
    justify-content: center;
  }

  .caption {
    display: contents;
    font-size: 0.875rem;
    overflow: hidden;
    position: relative;
    width: 100%;

    @include respond-to(md) {
      font-size: 1rem;
    }
  }
}
