@use "../../styles/mixins" as *;

.container {
  display: flex;
  gap: var(--space-xs);
  justify-content: center;

  @include respond-to(md) {
    justify-content: flex-start;
  }
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
  opacity: 0.6;
  text-transform: uppercase;
  transition: opacity 0.3s ease;

  @include respond-to(md) {
    font-size: 0.85rem;
  }

  &:disabled {
    cursor: default;
    opacity: 1;
  }

  &:not(:last-child) {
    border-right: 1px solid var(--color-text-primary);
    padding-right: var(--space-xs);
  }

  .flag {
    height: auto;
    margin-left: 0.25rem;
    vertical-align: middle;
    width: 1.25rem;
  }
}
