@use "../../styles/mixins" as *;

.container {
  display: flex;

  .button {
    background: none;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:disabled {
      cursor: default;
    }
  }

  // Theme specific styles
  // ------------------------------

  &.river {
    flex-direction: column;

    .button {
      background-color: #fff;
      filter: blur(1px);
      left: -5px;
      opacity: 0.7;
      padding: 5px;
      position: relative;
      transition: 0.3s ease;

      &:disabled {
        filter: blur(0);
        left: 0;
        opacity: 1;
      }

      .flag {
        width: 2rem;
      }
    }
  }
}
