@use "../../styles/mixins" as *;

.container {
  display: flex;
  flex-direction: column;

  .button {
    background: none;
    background-color: #fff;
    border: none;
    cursor: pointer;
    filter: blur(0.5px);
    left: -1px;
    padding: var(--base);
    position: relative;
    transition: 0.3s ease;

    &:disabled {
      cursor: default;

      & .flag {
        opacity: 1;
      }
    }

    &:hover {
      filter: blur(0);
    }

    .flag {
      opacity: 0.5;
      transition: 0.3s ease;
      width: 100%;
    }

    &:not(:first-child) {
      top: -2px;
    }
  }

  @include respond-to(xl) {
    display: grid;
  }
}
