.icon {
  align-items: center;
  display: inline-flex;
  height: 30px;
  justify-content: center;
  overflow: hidden;
  width: 30px;

  & > path {
    fill: white;
    height: 100%;
    width: 100%;
  }
}
