@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 0 var(--space-sm);
  padding: 0;

  & li {
    line-height: 1.6rem;

    &::before {
      color: var(--color-text-mark);
    }
  }

  &.ul li::before {
    content: "•";
    margin-right: var(--space-xs);
  }

  &.ol {
    counter-reset: list-counter;

    & li {
      counter-increment: list-counter;

      &::before {
        content: counter(list-counter) ".";
      }
    }
  }
}
