@use "../../styles/mixins" as *;

.container {
  position: relative;
  padding-bottom: var(--space-md);

  @include respond-to(md) {
    padding-bottom: var(--space-lg);
  }

  & .date {
    width: 100%;
    padding-top: 0;
    margin-top: 0;
    display: flex;
    font-size: 1rem;
    font-weight: normal;
    flex-direction: row;
    gap: var(--space-xs);

    @include respond-to(md) {
      padding-top: 3px;
      flex-direction: row;
      gap: 0;
    }
  }

  & .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
  }

  & .skills {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
  }

  & .company {
    font-weight: normal;
  }
}
