@use "../../styles/mixins" as *;

.container {
  padding-bottom: var(--space-md);
  position: relative;

  @include respond-to(md) {
    padding-bottom: var(--space-lg);
  }

  & .date {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: normal;
    gap: var(--space-xs);
    margin-top: 0;
    padding-top: 0;
    width: 100%;

    @include respond-to(md) {
      flex-direction: row;
      gap: 0;
      padding-top: 3px;
    }
  }

  & .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    width: 100%;
  }

  & .skills {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
  }

  & .company {
    font-weight: normal;
  }
}
