@use "../../styles/mixins" as *;

.container {
  display: grid;

  & .position {
    display: block;
    grid-area: position;
  }

  & .date {
    display: flex;
    gap: var(--space-xs);
    grid-area: date;
  }

  & .description {
    grid-area: description;
  }

  & .skills {
    grid-area: skills;
  }

  // River Theme
  // =========================
  &.river {
    gap: var(--space-md);
    grid-template-areas:
      "position date"
      "description description"
      "skills skills";
    grid-template-columns: 2fr 1fr;

    & .position {
      & strong {
        color: var(--color-text-mark);
        display: block;
        font-weight: inherit;
      }

      span {
        display: none;
      }

      @include respond-to(md) {
        strong {
          display: inline;
        }

        span {
          display: inline;
        }
      }
    }

    & .date {
      align-items: flex-start;
      justify-content: flex-end;
      overflow-wrap: none;
      padding-top: var(--space-sm);
      white-space: nowrap;

      & span {
        color: var(--color-text-mark);
      }
    }

    & .description {
      display: block;
    }

    & .skills {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-sm);
    }
  }
}
