@use "../../../../styles/mixins" as *;

.section {
  & h4 {
    display: block;

    @include respond-to(md) {
      display: none;
    }
  }
}

.container {
  display: grid;
  gap: 0;
  grid-template-areas: "socials contact";
  grid-template-columns: 1fr 1fr;
  margin-bottom: var(--space-sm);

  @include respond-to(md) {
    gap: var(--space-xl);
    grid-template-areas: "contact" "socials";
    grid-template-columns: 1fr;
  }

  & .contact {
    display: grid;
    gap: 0;
    grid-area: contact;
    grid-template-columns: 1fr;

    @include respond-to(md) {
      gap: var(--space-xl);
      grid-template-columns: 1fr 2fr 1fr;
    }

    & p {
      align-items: center;
      display: flex;
      flex: 1;
      font-size: 0.65rem;
      justify-content: flex-end;
      line-height: unset;
      margin: 0;
      position: relative;
      text-align: right;

      &::before,
      &::after {
        display: none;
      }

      @include respond-to(sm) {
        font-size: 0.8rem;
      }

      @include respond-to(md) {
        @include decorative-heading(30px);

        font-size: 1rem;
        overflow-wrap: normal;
        white-space: nowrap;
      }
    }
  }

  & .socials {
    display: grid;
    gap: 0;
    grid-area: socials;
    margin-bottom: 0;

    @include respond-to(md) {
      display: flex;
      font-size: 1rem;
      gap: var(--space-xl);
      justify-content: center;
    }

    & .link {
      align-items: center;
      display: inline-flex;
      gap: var(--space-xs);
      text-decoration: none;
      transition: color 0.2s ease;

      & p {
        font-size: 0.65rem;

        @include respond-to(sm) {
          font-size: 0.8rem;
        }

        @include respond-to(md) {
          font-size: 1rem;
        }
      }

      & > div {
        width: 16px;

        @include respond-to(md) {
          width: 30px;
        }
      }

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
