@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.chip {
  display: inline-block;
  border-radius: 3px;
  background-color: var(--background-chip-primary);
  width: auto;
  font-size: 0.75rem;
  padding: 0 var(--space-xs);

  @include respond-to(md) {
    font-size: 0.9rem;
    padding: 0 var(--space-sm);
  }

  &.filled {
    font-size: 1rem;
    background-color: var(--background-chip-secondary);
    color: var(--color-text-mark);
  }
}
