@use "../../styles/mixins" as *;

$radius: 500px;

.container {
  display: flex;
  width: 100%;

  .photo {
    width: 100%;
    margin: 0 auto 15px;
    padding: 3px;
    position: relative;
    filter: blur(5px);
    visibility: hidden;

    &:before {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      width: 100%;
      height: 100%;
      border-radius: $radius;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
      pointer-events: none;
      transform: rotate(-35deg);
      border-width: 2px;
      border-style: solid;
      border-radius: $radius;
      border-color: var(--color-white);
      transition: filter 0.5s ease-out;
    }

    &.loaded {
      filter: blur(0px);
      visibility: visible;
    }
  }

  .image {
    display: block;
    position: relative !important;
    border-radius: $radius;
    width: 100%;
    height: auto;
  }
}
