@use "../../styles/mixins" as *;

$radius: 500px;

.container {
  display: flex;
  width: 100%;

  .photo {
    filter: blur(5px);
    margin: 0 auto 15px;
    padding: 3px;
    position: relative;
    visibility: hidden;
    width: 100%;

    &::before {
      border-color: var(--color-white);
      border-radius: $radius;
      border-style: solid;
      border-width: 2px;
      box-shadow: 0 10px 30px rgb(0 0 0 / 30%);
      content: "";
      height: 100%;
      left: -2px;
      pointer-events: none;
      position: absolute;
      top: -2px;
      transform: rotate(-35deg);
      transition: filter 0.5s ease-out;
      width: 100%;
    }

    &.loaded {
      filter: blur(0);
      visibility: visible;
    }
  }

  .image {
    border-radius: $radius;
    display: block;
    height: auto;
    position: relative !important;
    width: 100%;
  }
}
