.categories {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.category {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.categoryTitle {
  font-weight: 600;
  text-align: center;
}

.skills {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  justify-content: center;

  & .skill {
    display: inline-flex;
  }
}
