.button {
  background-color: var(--color-bg-surface);
  bottom: 0;
  box-sizing: border-box;
  display: grid;
  gap: var(--space-md);
  grid-template-columns: 1fr 1fr;
  left: 0;
  width: 100%;

  @media print {
    display: none;
  }
}
