@use "../../../../styles/mixins" as *;

.buttons {
  background-color: var(--color-bg-surface);
  display: grid;
  gap: var(--space-md);
  grid-template-columns: 1fr 1fr;

  @media print {
    display: none;
  }

  & .button > span {
    display: block;

    @include respond-to(md) {
      display: inline;
    }
  }
}
